h1,
h3,
p {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-container {
    position: relative;

    .sidebar-wrapper {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 10;
    }

    .notes-wrapper {
        padding: 20px;
    }
}

//  Styling for tablet view
@media (min-width: 426px) and (max-width: 1024px) {
    .main-container {
        .notes-wrapper {
            display: grid;
            grid: auto/ auto auto auto;
            grid-column-gap: 20px;
        }
    }
}

// Styling for Desktop view
@media (min-width: 1025px) {
    .main-container {
        .notes-wrapper {
            display: grid;
            grid: auto/ auto auto auto auto;
            grid-column-gap: 20px;
        }
    }
}
