// Styling for mobile view

.navbar {
    background-color: rgb(92, 94, 97);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .header-logo-wrapper {
        display: flex;
        align-items: center;
        width: 60%;

        .header-title {
            color: white;
            font-family: sans-serif;
            font-size: 16px;
            line-height: 20px;
        }

        .notes-icon {
            height: 28px;
            width: 28px;
            margin-right: 10px;
        }
    }

    .search-bar-wrapper {
        background: transparent;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-icon {
            height: 20px;
            width: 20px;
            padding: 4px;
            cursor: pointer;

            &:hover {
                background-color: lightgray;
                border-radius: 50%;
            }
        }

        .search {
            display: none;
        }

        .cross-icon {
            display: none;
        }
    }

    .header-profile-section {
        display: flex;
        align-items: center;
        margin-left: auto;

        .setting-icon {
            height: 20px;
            width: 20px;
            margin-right: 40px;
            cursor: pointer;

            &:hover {
                background-color: lightgray;
                border-radius: 50%;
            }
        }

        .profile-avatar {
            .avatar {
                background-color: wheat;
                border-radius: 50%;
                cursor: pointer;
                height: 28px;
                width: 28px;
            }
        }
    }
}

//  Styling for large tablet view
@media (min-width: 426px) and (max-width: 1024px) {
    .navbar {
        .header-logo-wrapper {
            width: 25%;

            .header-title {
                font-size: 20px;
                line-height: 24px;
            }

            .notes-icon {
                height: 36px;
                width: 36px;
            }
        }

        .search-bar-wrapper {
            background-color: rgba(232, 234, 237, 0.08);
            border: 1px solid light-grey;
            border-radius: 10px;
            padding: 0 15px;
            width: 50%;

            .search {
                background: transparent;
                display: block;
                font-family: sans-serif;
                font-size: 14px;
                height: 36px;
                line-height: 18px;
                border: none;
                width: 95%;

                &::placeholder {
                    color: #222;
                }

                &:focus {
                    outline: none;
                }
            }

            .cross-icon {
                height: 15px;
                width: 15px;
                padding: 4px;
                display: block;
                cursor: pointer;

                &:hover {
                    background-color: lightgray;
                    border-radius: 50%;
                }
            }
        }

        .header-profile-section {
            .setting-icon {
                height: 22px;
                width: 22px;
                padding: 4px;
            }

            .profile-avatar {
                .avatar {
                    height: 36px;
                    width: 36px;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .navbar {
        .header-logo-wrapper {
            width: 15%;

            .header-title {
                font-size: 36px;
                line-height: 40px;
            }

            .notes-icon {
                height: 40px;
                margin-right: 20px;
                width: 40px;
            }
        }

        .search-bar-wrapper {
            background-color: rgba(232, 234, 237, 0.08);
            border: 1px solid light-grey;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 15px;
            width: 50%;
            margin: 0 auto;

            .search-icon {
                padding: 7px;
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }

            .search {
                background: transparent;
                display: block;
                font-family: sans-serif;
                font-size: 20px;
                height: 50px;
                line-height: 28px;
                border: none;
                width: 95%;

                &::placeholder {
                    color: #222;
                }

                &:focus {
                    outline: none;
                }
            }

            .cross-icon {
                display: block;
                height: 20px;
                width: 20px;
                cursor: pointer;
                padding: 7px;

                &:hover {
                    background-color: lightgray;
                    border-radius: 50%;
                }
            }
        }

        .header-profile-section {
            margin-left: 0;

            .setting-icon {
                height: 28px;
                width: 28px;
                padding: 7px;
            }

            .profile-avatar {
                .avatar {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}
